/**
 * SCSS - _medwesthpplugin-admin-ui.scss - Holds general Admin CSS that applies plugin-wide, including CSS for the Admin containers, the advertisment areas, and the dashboard icon
 *
 * @author   Jake Evans
 * @category SCSS
 * @package  Includes/Assets/CSS
 * @version  6.0.0
 */


/*
 * BEGIN ADMIN CONTAINER BONES, ADVERTISMENT, LICENSE UI ELEMENTS, AND DASHBOARD ICON CSS
 */
.medwesthpplugin-admin-top-container, .medwesthpplugin-admin-advert-container{
    @extend %medwesthealthpoints-admin-containers;
}

.medwesthpplugin-admin-top-title-icon{
    @extend %medwesthealthpoints-admin-top-title-icon;
}

.medwesthpplugin-admin-top-title{
    @extend %medwesthealthpoints-admin-top-title;
}

.medwesthpplugin-admin-advert-visit-me-title{
    @extend %medwesthealthpoints-admin-advert-visit-me-title;
}

.medwesthpplugin-admin-advert-site-div{
    @extend %medwesthealthpoints-admin-advert-site-div;
}

.medwesthpplugin-admin-advert-site-div img{
    @extend %medwesthealthpoints-margin-auto-centered;
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#medwesthpplugin-admin-advert-email-me{
    @extend %medwesthealthpoints-margin-auto-centered;
    text-align: center;
    width: 70%;
    font-size: 16px;
    font-weight: bold;
}

#medwesthpplugin-admin-advert-flex-container{
    display:flex;
}

#medwesthpplugin-facebook-link-div, #medwesthpplugin-admin-advert-money-container{
    text-align:center;
}

#medwesthpplugin-admin-advert-money-container form{
    display: inline-block;
}

#medwesthpplugin-patreon-img{
    width: 100px;
}

#medwesthpplugin-patreon-link{
    display: inline-block;
    margin: 10px;
}

.medwesthpplugin-admin-advert-visit-me-link{
    text-decoration:none;
    font-size: 20px;
    margin-bottom: 30px;
    display: block;
}

.medwesthealthpoints_page_MedWesthealthpoints-Options .dashicons-before img {
    width: 30px !important;
    margin-right: 2px !important;
    margin-left: 2px !important;
}

.medwesthpplugin-my-notice-dismiss-forever{
    @extend %medwesthealthpoints-default-buttons-style;
}

.medwesthpplugin-my-notice-dismiss-forever:hover {
    @extend %medwesthealthpoints-default-buttons-style-hover;
}

.medwesthpplugin-extension-genreric-key-plugins-page-input{
    margin-right:5px;
}

.medwesthpplugin-extension-genreric-key-dashboard-input{
    min-width:300px;
}

.medwesthpplugin-extension-genreric-key-dashboard-form{
    padding-bottom:10px;
}

/*
 * BEGIN ADMIN CONTAINER BONES, ADVERTISMENT, LICENSE UI ELEMENTS, AND DASHBOARD ICON CSS
 */


/*
 * BEGIN COMMON ELEMENTS INSIDE OF TOP ADMIN CONTAINERS
 */

 .medwesthpplugin-color-orange-italic{
    @extend  %medwesthealthpoints-color-orange-italic;
 }

.medwesthpplugin-tab-intro-para{
    @extend %medwesthealthpoints-tab-intro-para;
}

.medwesthpplugin-tab-intro-para-left{
    @extend %medwesthealthpoints-tab-intro-para;
    text-align: left;
}

.medwesthpplugin-icon-image-question, .medwesthpplugin-icon-image-question-with-link{
   @extend %medwesthealthpoints-icon-image-question;
}

.medwesthpplugin-icon-image-question-with-link{
    right: 3px;
}

.medwesthpplugin-spinner{
    @extend %medwesthealthpoints-spinner;
}

.medwesthpplugin-response-success-fail-container{
    @extend %medwesthealthpoints-response-success-fail-container;
}

.medwesthpplugin-question-icon-label{
    @extend %medwesthealthpoints-question-icon-label;
}

.medwesthpplugin-addition-div-img{
    width:22px;
}

.medwesthpplugin-addition-div-img{
   @extend %medwesthealthpoints-addition-div-img;
}

.medwesthpplugin-addition-div-p{
    @extend %medwesthealthpoints-addition-div-p;
}

#medwesthpplugin-smile-icon-1{
    @extend %medwesthealthpoints-margin-auto-centered;
    @extend %medwesthealthpoints-smile-icon;
}

#medwesthpplugin-success-span{
    font-style: italic;
    color: $primary-color;
    font-size: 16px;
}

.medwesthpplugin-show-book-colorbox {
    text-decoration: underline;
    cursor: pointer;
}

.medwesthpplugin-bold-shortcode{
    @extend %medwesthealthpoints-bold-shortcode;
}

.medwesthpplugin-bold-shortcode-orange{
    @extend %medwesthealthpoints-bold-shortcode-orange;
}

.medwesthpplugin-bold-li-heading{
   @extend %medwesthealthpoints-bold-li-heading;
}

#medwesthpplugin-dynamic-input-library{
    min-width: 300px;
    margin-bottom:50px;
}

#medwesthpplugin-dynamic-shortcode-button{
    margin-bottom:50px;
}

#medwesthpplugin-dynamic-shortcode-button, .medwesthealthpoints_delete_custom_lib{
    width: 200px;
}

.medwesthpplugin-response-success-fail-button{
   @extend %medwesthealthpoints-response-success-fail-button;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#medwesthpplugin-cache-clear-wrapper{
    width: 70%;
    margin: 25px;
    margin-top: 0px;
    position: relative;
    text-align: center;
    top: 5px;
}


#medwesthpplugin-cache-clear-wrapper img{
    left: 0px;
    top: 1px;
}

#medwesthpplugin-spinner-cache{
    height: 10px;
    width: 10px;
    display: inline-block;
    top: 10px;
    border-left: 1px solid #F1F1F1;
    border-right: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
}



/*
 * END COMMON ELEMENTS INSIDE OF TOP ADMIN CONTAINERS
 */



/*
 * 
 */

#medwesthpplugin-display-options-container{
    text-align: center;
}

.medwesthpplugin-form-section-fields-wrapper{
    display: flex;
    margin: 10px;
}

.medwesthpplugin-form-section-fields-label{
    display: block;
}

.medwesthpplugin-form-section-fields-indiv-wrapper{
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.medwesthpplugin-form-section-fields-indiv-wrapper input {
    width:13vw;
}

@media screen and ( max-width: 960px ){

    .medwesthpplugin-form-section-fields-wrapper{
        flex-direction: column;
    }

    .medwesthpplugin-form-section-fields-indiv-wrapper input {
        width:40vw;
    }

}


 /*
 * END CSS FOR COMMON FORM FILL
 */


.medwest-pending-activities-top-indiv-wrapper{
    border: solid 1px #eee;
    padding: 10px;
    display: flex;
    margin-top: 10px;
}

.medwest-pending-activities-top-indiv-wrapper p{
    margin: 0;
}

.medwest-pending-activities-left-wrapper, .medwest-pending-activities-right-wrapper{
    flex: 1;
    text-align: left;
}

.medwest-pending-activities-right-wrapper{
    text-align: right;
}

.medwest-pending-activities-middle-wrapper{
    flex: 2;
}

.medwest-pending-activities-left-title{
    font-weight:bold;
}

.medwest-pending-activities-right-button-wrapper button{
    width: 65px;
    height: 50px;
    margin: 5px;
    display: inline-block;
    font-size: 10px;
}

#medwest-form-create-reward-wrapper textarea{
    height: 60px;
}

#medwest-form-create-reward-wrapper{
    text-align:center;
}

#medwest-form-create-reward-wrapper div{
    display: inline-block;
    margin: 15px;
    vertical-align: top;
}

#medwest-form-create-reward-wrapper label{
    display: block;
}

#medwest-create-reward-backend-button{
    margin-top:20px;
}

div#medwest-create-reward-backend-button-wrapper{
    display: block;
}

.medwest-form-section-fields-input-file-upload-button{
    display: block;
    margin-top: 5px;
    margin-left:auto;
    margin-right:auto;
}

#medwest-form-create-reward-top-wrapper{
    border: solid 1px #eee;
    padding: 10px;
    margin-top: 10px;
}






#medwesthealthpoints-dashboard-container, #medwesthealthpoints-dashboard-register-options-wrapper{
    display: inline-block;
    vertical-align: top;
    margin: 0px 20px 0px 20px;
}

#medwesthealthpoints-dashboard-veteran-join-form-wrapper{
    max-width:100%;
    width:100%;
}

#medwesthealthpoints-dashboard-loggedin-top-wrapper{
    max-width:100%;
    width:100%;
}

#medwesthealthpoints-join-as-vet, #wp-submit, .medwesthealthpoints-form-section-fields-input-button-apply{
 
}


#medwesthealthpoints-dashboard-login-row-wrapper input[type="number"], #medwesthealthpoints-dashboard-login-row-wrapper input[type="text"], #medwesthealthpoints-dashboard-login-row-wrapper input[type="password"], #medwesthealthpoints-form-vetstate{
    width:300px;
}

.medwesthealthpoints-form-section-fields-indiv-wrapper input[type="number"], .medwesthealthpoints-form-section-fields-indiv-wrapper input[type="text"], .medwesthealthpoints-form-section-fields-indiv-wrapper input[type="password"], #medwesthealthpoints-form-vetstate{
    width:300px;
    margin-bottom: 10px;
    display: block;
}

#medwesthealthpoints-dashboard-login-row-wrapper .login-username label, #medwesthealthpoints-dashboard-login-row-wrapper .login-password label, .medwest-form-section-fields-label{

}

.medwesthealthpoints-form-section-fields-indiv-wrapper label{
    display: block;
    text-align: center;
}

.medwesthealthpoints-form-section-fields-wrapper, .medwesthealthpoints-form-section-fields-indiv-wrapper-passwordconfirmblock{
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

.medwesthealthpoints-form-section-fields-indiv-wrapper-passwordconfirmblock{
    text-align: center;
    margin-top: 12px;
}

.medwesthealthpoints-displayentries-response-div-wrapper{
    text-align:center;
    margin-top:30px;
}

.medwesthealthpoints-form-section-title-wrapper{
    text-align:center;
    font-weight: bold;
}

#medwesthealthpoints-spinner-1{
    opacity: 0;
    height: 20px;
    width: 20px;
    margin: 10px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #009693;
    border-radius: 100%;
    position: relative;
}

.medwesthealthpoints-displayentries-response-div-actual-container{
    margin:20px;
}

.medwesthealthpoints-confirmemail-block-message-div, .medwesthealthpoints-confirmpassword-block-message-div{
    text-align: center;
    height:35px;
}

.medwest-loggedin-indiv-profile-piece-wrapper{
    display: inline-block;
    margin: 20px;
}

#medwest-loggedin-profile-wrapper, #medwest-loggedin-title-div{
    text-align:center;
}

#medwest-loggedin-title-div, .medwest-loggedin-indiv-wrapper-actual-title{
    font-weight:bold;
}

.medwest-record-view-rows{
    display: flex;
}

.medwest-loggedin-indiv-profile-piece-wrapper-button{
    flex: 1;
    background-color: #1f9693;
    padding: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 20px;
}

#medwest-submit-activity-submissions-button{
    margin-top:20px;
}

.medwest-record-view-rows-wrapper{
    text-align:center;
}

.medwest-fields-organizer, .medwest-fields-organizer label{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 40px;
}

.media-frame-title {
    position: absolute;
    top: -50px!important;
}

#medwest-record-view-rows-actual-form-wrapper{
    height: 0px;
    overflow: hidden;
    opacity: 0;
}

.medwest-saved-act-indiv-wrapper{
    border: solid 1px #eee;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgba(84, 191, 194, 0.3);
}

.medwest-saved-act-indiv-wrapper p{
    margin:0;
    text-align: left;
}

.medwest-saved-activities-all-wrapper .medwest-saved-act-indiv-wrapper p a{
    text-decoration: none;
}

.medwest-saved-act-indiv-wrapper div{
    margin-left:10px;
}

.medwest-saved-act-title{
    font-weight:bold;
    text-decoration: underline;
}

.medwest-saved-activities-top-wrapper{
    height:0px;
    opacity:0;
    overflow: hidden;
}

#medwest-loggedin-frontend-colorbox-trigger{
    cursor: pointer;
}

.medwest-popup-secondrow{
    display: flex;
}

.medwest-popup-reward-image-row{
    flex: 1;
}

.medwest-popup-reward-description-row{
    flex: 3;
    text-align: center;
}

.medwest-popup-reward-description-row p{
    margin:0px;
}

.medwest-popup-reward-redeem-row{
    flex: 1;
    text-align: center;
}

.medwest-popup-reward-redeem-row div{
    font-style:italic;
}

.medwest-popup-reward-image-row img{
    width: 60px;
}

.medwest-popup-indiv-rewards-wrapper{
    padding: 20px;
    border: solid 1px black;
    margin: 20px;
}

.medwest-popup-title{
    text-decoration: underline;
    text-transform: uppercase;
}

.medwest-hidden-request-reward-verify-wrapper{
    text-align:center;
}

.medwest-hidden-request-reward-verify-wrapper{
    height: 0px;
    overflow: hidden;
    opacity:0;
}

.medwesthealthpoints-form-section-wrapper{
    text-align: center;
}

.toplevel_page_MedWestHealthPoints-Options .dashicons-before img {
    width: 35px !important;
    margin-right: 2px !important;
    padding: 2px 0 0 !important;
    top: 6px;
    position: relative;
}
